<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
</head>



    <div class="container" >
       
        <div style="display: flex;">
            <div class="name-section">
                <div style="width: 40%;">
                    <img class="profile" src="assets/images/profile.jpg" width="150px" height="150px">
                </div>
                <div class="box">
                    <h1 style="font-size: 30px;text-transform: uppercase;margin: 12px 0;">{{cvDetails.personal_info.basic_information.full_name}}</h1>
                    <h4>{{cvDetails.experience.designation}}</h4>
                </div>
            </div>
            <div class="basic-info" *ngIf="cvDetails">
                <div class="row" style="width: 100%;">
                    <div class="col-md-7">
                        <ul>
                            <li><span><i class="material-icons"> phone_in_talk </i><label>{{cvDetails.personal_info.basic_information.mobile_number}}</label></span></li>
                            <li><span><i class="material-icons"> mail_outline </i><label>{{cvDetails.personal_info.basic_information.email_id}}</label></span></li>
                            <li><span><i class="material-icons"> location_on </i><label>{{cvDetails.personal_info.basic_information.current_location}}</label></span></li>
                            <li><span><i class="material-icons"> language </i><label></label></span></li>
                        </ul>
                    </div>
                    <div class="col-md-5">
                        <ul>
                            <li><span><i class="material-icons"> work_outline </i><label>{{cvDetails.personal_info.job_info.current_ctc.value}} CTC</label></span></li>
                            <li><span><i class="material-icons"> search </i><label>{{cvDetails.personal_info.job_info.expected_ctc.value}} CTC</label></span></li>
                            <li><span><i class="material-icons"> star </i><label>{{cvDetails.personal_info.job_info.visa_status.type}}</label></span></li>
                            <li><span><i class="material-icons"> calendar_today </i><label>Available in {{cvDetails.personal_info.job_info.notice_period.days}}</label></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "container" >
        <div class="row">
            <div class="col-sm-6">
                <div class = "education table table-borderless pl-5 ">
                    <h3>EDUCATION</h3>
                    <br>
                        <div  *ngFor="let row of cvDetails.education">
                            <div class = "col-sm-4">
                                <span style="border-bottom: 4px solid #ffcc00">{{row.from}}-{{row.to}}</span>
                            </div>
                            <div class = "col-sm-8">
                                    <span >{{row.course}}</span>
                                    <br><br>
                                    <span >{{row.institution}}</span>
                                    <br><br>
                                    <span >{{row.location}}</span>
                            </div>
                        </div> 
                </div>
            </div>
        <div class="col" *ngIf = "cvDetails.experience">
                <div class = "experience table table-borderless ">
                    <h3>EXPERIENCE</h3>
                    <br>
                    <div class = "row" *ngFor="let row of cvDetails.experience">
                            <div class = "col-sm-4">
                                <span style="border-bottom: 4px solid #ffcc00">{{row.from.year}}-{{row.to.year}}</span>
                            </div>
                            <div class = "col-sm-8">
                                    <span >{{row.designation}}</span>
                                    <br><br>
                                    <span >{{row.company}}</span>
                                    <br><br>
                                    <span >{{row.location}}</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "container" >
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <h3>DOMAIN</h3>
                    <br>
                    <canvas id="domainCanvas" width="400" height="260" style="border:1px solid #000000;"></canvas>
                </div>
                <div class = "certifications float-right table table-borderless pl-5">
                    <h3>CERTIFICATIONS</h3>
                    <br>
                    <div class = "row" *ngFor="let row of cvDetails.certifications">
                            <div class = "col-sm-4">
                                <span style="border-bottom: 4px solid #ffcc00">{{row.issue_date}}-{{row.expiry_date}}</span>
                            </div>
                            <div class = "col-sm-8">
                                    <span >{{row.title}}</span>
                                    <br><br>
                                    <span >{{row.organization}}</span>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class = "skills">
                    <h3>SKILLS</h3>
                    <br>
                    <canvas id="skillsCanvas" width="400" height="140" style="border:1px solid #000000;"> </canvas>
                    <br>
                    <div class = "projects table table-borderless pl-5 ">
                        <h3>PROJECTS</h3>
                        <br>
                        <div class = "row" *ngFor="let row of cvDetails.projects">
                                <div class = "col-sm-4">
                                    <span style="border-bottom: 4px solid #ffcc00">{{row.from.year}}-{{row.to.year}}</span>
                                </div>
                                <div class = "col-sm-8">
                                        <span >{{row.role}}</span>
                                        <br><br>
                                        <span >{{row.domain}} | {{row.location}}</span>
                                        <br><br>
                                        <span >Skills : {{row.skills_used.join()}}</span>
                                </div>
                            </div>
                    </div>
                    <br>
                    
                </div> 
                <img class = "float-right mt-5 mr-n3" src="./websiteQRCode_noFrame.png" height="130" width="130">
            </div>
        </div>
    </div>
</html>