<div class="pb-section">
    <div style="height: 45px;"><label style="float: left; font-size: 25px;">TEMPLATES</label></div>
</div>
<div>
    <a (click)="showModal('template1')"><img src="assets/images/template1.jpg" width="300px" height="450px"></a>
    <a (click)="showModal('template2')"><img src="assets/images/template2.jpg" width="300px" height="450px"></a>
</div>

<div id="imagePreview" class="modal fade bd-example-modal-lg" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="text-transform: uppercase;">{{templateName}}</h3>
                <a type="button" aria-label="Close" data-dismiss="modal" style="float: right;">
                    <span aria-hidden="true">&times;</span></a>
            </div>
            <div class="modal-body">
                <img id="image" width="400px" height="600px" style="margin: 15px 100px;">
            </div>
            <div class="modal-footer">
                <button (click)="publish(templateName)" data-dismiss="modal">Use this template</button>
                <button data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>