<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Update Profile</h2>
            </div>
            <div class="card-body">
                <form #data="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="name">Student?</div>
                            <input [(ngModel)]="profileDetails.isStudent" style="width:3%;margin-top: 1%;" #isStudent="ngModel" type="checkbox" name="isStudent">
                    </div>
                    <div *ngIf="profileDetails.isStudent">
                        <div class="form-row">
                            <div class="name">College Name *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input [(ngModel)]="profileDetails.college" required #college="ngModel" class="input--style-6" type="text" name="college">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Year of passing *</div>
                            <div class="value">
                                <div class="input-group">
                                    <input [(ngModel)]="profileDetails.pass_year" required #pass_year="ngModel" class="input--style-6" type="text" name="pass_year">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Branch</div>
                            <div class="value">
                                <div class="input-group">
                                    <input [(ngModel)]="profileDetails.branch"  #branch="ngModel" class="input--style-6" type="text" name="branch">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div  *ngIf="!profileDetails.cv_dl_url" class="name">Upload CV</div>
                        <div  *ngIf="profileDetails.cv_dl_url" class="name">Update CV</div>
                        <div class="value">
                            <div class="input-group js-input-file">
                                <input (change)="filechange($event)" class="input-file" type="file" name="file_cv" id="file">
                                <label class="label--file" for="file">Choose file</label>
                                <label *ngIf="file" class="label--file">{{file.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn--radius-2 btn--blue-2" [disabled]="!data.valid" type="submit">Update</button>&nbsp;
                        <button class="btn btn--radius-2 btn--blue-2" type="button" (click)="goHome()">Back to Home</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>