<div class="container" *ngIf="cvDetails">
    <div class="row" style="height: auto;">
        
        <div class="col-md-12" style="background-color: #80808029;">
            <div style="display: flex;">
                <div class="name-section">
                    <div style="width: 40%;">
                        <img class="profile" src="assets/images/profile.jpg" width="150px" height="150px">
                    </div>
                    <div class="box">
                        <h1 style="font-size: 30px;text-transform: uppercase;margin: 12px 0;">{{cvDetails.personal_info.basic_information.full_name}}</h1>
                        <h4>{{cvDetails.experience.designation}}</h4>
                    </div>
                </div>
                <div class="basic-info" *ngIf="cvDetails">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-7">
                            <ul>
                                <li><span><i class="material-icons"> phone_in_talk </i><label>{{cvDetails.personal_info.basic_information.mobile_number}}</label></span></li>
                                <li><span><i class="material-icons"> mail_outline </i><label>{{cvDetails.personal_info.basic_information.email_id}}</label></span></li>
                                <li><span><i class="material-icons"> location_on </i><label>{{cvDetails.personal_info.basic_information.current_location}}</label></span></li>
                                <li><span><i class="material-icons"> language </i><label></label></span></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul>
                                <li><span><i class="material-icons"> work_outline </i><label>{{cvDetails.personal_info.job_info.current_ctc.value}} CTC</label></span></li>
                                <li><span><i class="material-icons"> search </i><label>{{cvDetails.personal_info.job_info.expected_ctc.value}} CTC</label></span></li>
                                <li><span><i class="material-icons"> star </i><label>{{cvDetails.personal_info.job_info.visa_status.type}}</label></span></li>
                                <li><span><i class="material-icons"> calendar_today </i><label>Available in {{cvDetails.personal_info.job_info.notice_period.days}}</label></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div class="education">
                    <h3 style="margin-bottom: 25px;"><strong>Education</strong></h3>
                    <div class="max-height">
                    <div class="row" *ngFor="let row of cvDetails.education" style="margin:15px 0">
                        <div class="col-md-4">
                            <label style="border-bottom: 4px solid #e34949;">{{row.from}}-{{row.to}}</label>
                        </div>
                        <div class="col-md-8" style="display: flex;flex-direction: column;">
                            <label><strong>{{row.level}}</strong></label>
                            <label>{{row.institution}}</label>
                            <label>{{row.location}}</label>
                        </div>
                    </div>
                    </div>
                    <!-- <div *ngFor="let row of cvDetails.education" class="education_box">
                        <div>
                            <label>{{row.year}}</label>
                        </div>
                        <div style="display: flex;flex-direction: column;">
                            <label>{{row.level}}</label>
                            <label>{{row.institution}}</label>
                            <label>{{row.location}}</label>
                        </div>
                    </div> -->
                </div>
                <div class="experience">
                    <h3 style="margin-bottom: 25px;"><strong>Experience</strong></h3>
                    <div class="row" *ngFor="let row of cvDetails.experience" style="margin:15px 0">
                        <div class="col-md-4">
                            <label style="border-bottom: 4px solid #e34949;">{{row.from.year}}-{{row.to.year}}</label>
                        </div>
                        <div class="col-md-8" style="display: flex;flex-direction: column;">
                            <label><strong>{{row.company}}</strong></label>
                            <label>{{row.designation}}</label>
                            <label>{{row.location}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <div class="skills">
                    <label>skills</label>
                </div>
                <div class="frameworks">
                    <label>frameworks</label>
                </div>
            </div>
            <div style="display: flex;">
                <div class="domains">
                    <label>domains</label>
                </div>
                <div class="certifications">
                    <h3>Certifications</h3>
                    <div class="row" *ngFor="let row of cvDetails.certifications" style="margin:15px 0">
                        <div class="col-md-1">
                            <span><i class="material-icons"> stars </i></span>
                        </div>
                        <div class="col-md-7" style="display: flex;flex-direction: column;">
                            <label><strong>{{row.title}}</strong></label>
                            <label>{{row.organization}}</label>
                        </div>
                        <div class="col-md-4">
                            <label style="border-bottom: 4px solid #e34949;">{{row.issue_date}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projects">
                <h3 style="margin-bottom: 25px;"><strong>Projects</strong></h3>
                <div class="row" *ngFor="let row of cvDetails.projects" style="margin:15px 0">
                    <div class="col-md-5" style="display: flex;flex-direction: column;">
                        <label><strong>{{row.role}}</strong></label>
                        <label>{{row.domain}}</label>
                        <label>Skills : {{row.skills_used.join()}}</label>
                    </div>
                    <div class="col-md-7">

                    </div>
                </div>
                <qrcode [qrdata]="myAngularxQrCode" [width]="100" [errorCorrectionLevel]="'M'" style="float: right;"></qrcode>
            </div>

        </div>
       

    </div>
</div>