<div class="commontable">
    <div class="title-head"><span>{{_details.title}}</span></div>
    <button class="form-control" style="float:right;width:6% !important" title="'Add new row'"
        (click)="addnewrow()">+</button>
    <table cellpadding="10">
        <thead>
            <tr>
                <th style="text-align: center;" *ngFor="let header of _details.headers">
                    {{header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="height:auto" *ngFor="let record of _records;let i = index">
                <td style="border:1px solid #a1acbf;border-top: 0px;border-left: 0px;border-right: 0px;" *ngFor="let key of _details.keys">
                    <app-common-input [details]="{value:record[key],key:key,index:i}" (emitVal)='updateArray($event)'>
                    </app-common-input>
                </td>
            </tr>
        </tbody>
    </table>
</div>