
<div class="container-fluid">
    <div class="headerMain">
    <div class="row">
        <div class="col-md-2">
        <img src="assets/images/simplifycv.png" width="160px" height="40px" style="margin: 5px 25px;">
        </div>
        <div class="col-md-2 offset-md-8">
            <div>
            <!-- <span style="padding: 10px;"><i class="material-icons"> notifications_none </i></span> -->
            <img src="assets/images/profile.jpg" width="25px" height="25px" style="margin: 5px 20px;">
            <img src="assets/images/Flag-India.jpg" width="25px" height="25px" style="margin: 5px 20px;">
        </div>
        </div>
    </div>
    </div>
    <!-- <div class="col-md-3"> -->
        <div class="left-sidebar">
            <div>
                <ul>
                    <li (click)="navigate('profilebuilder')" data-toggle="collapse" data-target="#header"><span><i class="material-icons"> person_outline</i></span><label>Profile Builder</label><span style="float: right;padding:6px;"><i class="material-icons"> keyboard_arrow_down </i></span></li>
                    <ul id="header" class="aria-expanded pb">
                        <li (click)="emitSection('Personal Information')" data-toggle="collapse" data-target="#subheader">Personal Information<span style="float: right;color: black;"><i class="material-icons"> keyboard_arrow_down </i></span></li>
                            <ul id="subheader" class="collapse sub"> 
                                    <li (click)="emitSubSection('Basic Info')">Basic Info</li>
                                    <li (click)="emitSubSection('Job Specific Info')">Job Specific Info</li>
                            </ul>
                        <li (click)="emitSection('Education')">Education</li>
                        <li (click)="emitSection('Work Experience')">Work Experience</li>
                        <li (click)="emitSection('Skills')">Skills</li>
                        <li (click)="emitSection('Domain')">Domain</li>
                        <li (click)="emitSection('Projects')">Projects</li>
                        <li (click)="emitSection('Certifications and Achievements')">Certifications and Achievements</li>
                    </ul>
                    <li><span><i class="material-icons"> save </i><label>Saved CV's</label></span></li>
                    <li><span><i class="material-icons"> filter_none </i></span><label>Templates</label></li>
                    <li><span><i class="material-icons"> work_outline </i></span><label>Job Search</label></li>
                    <li><span><i class="material-icons"> mail_outline </i></span><label>Mails</label></li>
                    <li><span><i class="material-icons"> stars </i></span><label>Assessments</label></li>
                </ul>
            </div>

        </div>
    <!-- </div> -->
    <!-- <div class="box">
        <h4 style="padding: 15px 20px;"><strong>Basic Info</strong></h4>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-edit">
                    <img src="assets/images/profile.jpg" width="125px" height="125px" class="profile-pic1">
                    <div class="edit">
                          <span style="padding: 1px;"><i class="material-icons"> edit </i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div style="display: flex;">
                    <div class="textbox">
                        <label>Full Name *</label>
                        <input type="text" name="full_name" autocomplete="off">
                    </div>
                    <div class="textbox">
                        <label>Date of Birth</label>
                        <input type="text" name="dob" autocomplete="off">
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="textbox">
                        <label>Current Location</label>
                        <input type="text" name="clocation" autocomplete="off">
                    </div>
                    <div class="textbox">
                        <label>Email</label>
                        <input type="text" name="email" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="width: 100%; margin-top: 25px; display: flex;">
                <div class="textbox">
                    <label>Mobile Number</label>
                    <input type="text" name="mobile number" autocomplete="off">
                </div>
                <div class="textbox">
                    <label>Alternate Number</label>
                    <input type="text" name="alternate number" autocomplete="off">
                </div>
            </div>
        </div>
    </div> -->
    <div class="profile-complete">
        <label>Profile Completed</label>
        <label style="float: right;">60%</label>
    </div>
</div>
<router-outlet></router-outlet>