.headerMain {
    height: 60px;
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 3;
    position: fixed;
    top: 0;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
ul{
    padding: 0;
}
li{
    padding:2px 5px;
    cursor: pointer;
}
.textbox{
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
}
.textbox label{
    font-weight: 100;
}
.textbox input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}
.container-fluid{
    padding: 0;
}
.left-sidebar {
    position: fixed;
    width: 18%;
    top: 12%;
    background: #fff;
    left: 1%;
    box-shadow: 0px 3px 6px #00000029;
    height: auto;
    // overflow-y: scroll;
}
.profile-edit{
    position: relative;
    display: inline-block;
}

.profile-pic1{
    border-radius: 80px;
    margin: 12px;
}
.edit {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 5px;
	position: absolute;
	right: 15px;
    bottom: 20px;
    width: 35px;
    height: 35px;
    background-color: white;
}
.box{
    position: absolute;
    width: 59%;
    top: 12%;
    background: #fff;
    left: 20%;
    box-shadow: 0px 3px 6px #00000029;
    height: auto;
}
.profile-complete{
    position: absolute;
    top: 12%;
    right: 1%;
    width: 19%;
    height: 100px;
    box-shadow: 0px 3px 6px #00000029;
}
.left-sidebar .material-icons{
    padding: 5px;
}
.profile-complete label{
    padding: 10px;
}
.pb{
    margin-left: 45px;
}
.pb li{
    color:#FA3F3D;
}
.pb li:hover{
    background-color: #FAFAFA;
}
.sub{
    padding: 0px 20px;
}
.sub li{
    color: black;
}