<div class="page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Welcome</h2>
                </div>
                <div class="card-body">
                        <div class="form-row">
                               <a [routerLink]="['/profile']" ><span class="hidden-xs"> Profile</span></a>
                        </div>
                        <!-- <div class="form-row">
                                <a [routerLink]="['/cvgenerator']"><span class="hidden-xs">Cv Generator</span></a>
                        </div> -->
                        <div class="form-row">
                                <a (click)="logout()"><span class="hidden-xs">Logout</span></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
