li label{
    padding: 0px 5px;
    font-size: 16px;
}
li label:hover{
    color: #0fbe85;
}
div label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
div button{
    margin:6px;
}
div button:checked{
    background-color: blue;
}
.material-icons{
    cursor: pointer;
}
.header {
    width: 100%;
    height: 60px;
    padding: 10px;
    background:#20446a;
    color:white;
    box-shadow: 0px 2px 5px grey;
  }
  .header_note{
      padding: 5px;
      font-size: 20px;
  }
  .side_bar{
    background-color: #ffffff;
    box-shadow: 1px 1px 5px grey;
  }
  .profile-box{
    width: 250px;
    height: 200px;
    padding: 5px;
  }
  .pb{
      background-color: #5b525233;
    //   height: 40px;
      padding: 5px;
      margin:4px;
      box-shadow: 1px 1px 5px grey;
}
.info{
    background-color: #5b525233;
    width: 250px;
    height: 000px;
    padding: 5px;
    margin:4px;
    box-shadow: 1px 1px 5px grey;
}
.pb_section{
    height: 550px !important;
    padding: 10px;
    margin-top: 5px;
    background-color: #ebebeb;
    overflow: hidden;
}
.fields_box{
    // width: 98%;
    height: 475px;
    // padding: 10px;
    background-color:white;
}
.fields{
    background-color: white;
    // width: 100%;
    height: 425px;
    padding: 20px;
    overflow: auto;
}
.textbox{
    width: 70%;
    overflow: hidden;
    font-size: 20px;
    // padding: 8px 0;
    // margin: 8px 0;
    border-bottom: 1px solid #212869;
    font-family: Calibri;
    color: black;
    font-weight: bold;
    }
.textbox i{
        width: 26px;
        float: left;
        text-align: center;
        font-family: Calibri;
        color: black;
        
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    // color: #32303096;
    font-size: 18px;
    font-family: Calibri;
    width: 80%;
    float: left;
    margin: 0 10px;
}
::placeholder {
    color:#32303096;
    font-family: Calibri;
}
.education-box{
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    margin: 20px 0px;
}
.education-box div{
    width: 28.33%;
    height: 45%;
    float: left;
    padding: 10px;
}
.education-box div label{
    font-size: 18px;
    font-family: Calibri;
    width: 100%;
    color: grey;
}
.education-box div span{
    color: black;
    font-family: Calibri;
    font-size: 16px;
}
.education-modal{
    width: 100%;
}
.education-modal div{
    width: 45%;
    float: left;
    margin: 15px;
}
.ed_icons{
    float: right;
    padding: 20px;
    color: grey;
}
.flatpickr-calendar * {
    transition: none
}

input.flatpickr[readonly=""],
input.flatpickr[readonly="readonly"] {
    background: #fff;
}


// .flatpickr-current-month {
//     font-size: 110%;
//     line-height: 1.5
// }

.flatpickr-current-month span.cur-month {
    font-weight: 500;
}

span.flatpickr-weekday {
    font-weight: normal;
}

.flatpickr-calendar {
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2)
}
input.flatpickr::placeholder {
    font-size: 19px;
    text-align: right;
}
.error{
    padding:1px 10px;
     color: red;
}