<header class="headerMain">
    <div class="brandBox">
        <a href="javascript:void(0);" class="brand">
            <!-- <img src="./assets/img/logo2.png" alt=""> -->
            <h4 class="cv">SimplifyCV</h4>
        </a>
    </div>
    <div>
            <a class="span_name" DisableCard><span>Jobs</span></a>
            <a class="span_name"><span> Companies</span></a>
            <a class="span_name"><span>Recruiters</span></a>
            <a class="span_name"><span>Services</span></a>
    </div>
    <div style="float: right;">
            <a class="span_name" (click)="goToLogin()"><span>Login</span></a>
            <a class="span_name" (click)="goToRegister()"><span>Register</span></a>
    </div>
</header>
<div class="row">
<div class="content-box">
    <h4 style="text-align: center;"><strong> a CV but is it fading with time? </strong></h4>
    <h5 style="text-align: center;"><strong>Lost in a pool of skill sets? </strong></h5>
    <p style="padding: 15px;">
        We are here to help you out. We employ the best of algorithms with big data analysis to cater your needs. From recommending you the top notch courses and the latest technology buzz, get yourself assessed and evaluated. Simplifying CV and land into better opportunities. Get visibility and be a stand out with SimplifyCV.
    </p>
   <ul style="text-align: center;">
       <li>CV generation</li>
       <li>CV enhancement</li>
       <li>Skill advanced</li>
   </ul>
</div>
</div>
