.brandBox{
    padding: 6px;
}
.brand{
    display: block;
    float: left;
}
.cv{
    font-size: 35px;
    padding: 10px;
    color: black;
}
.span_name{
    padding: 30px;
}
.content-box{
    width: 35%;
    height: 35%;
    top: 200px;
    left: 450px;
    position: fixed;
    overflow: hidden;
    box-shadow: 3px 3px 10px grey;
}